@using BlazorOrchestrator.Web.Data.Data
@using BlazorOrchestrator.Web.Services
@using BlazorOrchestrator.Web.Components.Pages.Dialogs
@using BlazorDataOrchestrator.Core
@using Radzen
@using Radzen.Blazor
@using SimpleBlazorMonaco
@using MonacoRazor
@inject JobService JobService
@inject JobGroupService JobGroupService
@inject JobQueueService JobQueueService
@inject JobManager JobManager
@inject WebhookService WebhookService
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject TimeDisplayService TimeDisplayService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject JobCodeEditorService CodeEditorService
@inject CSharpCompilationService CSharpCompiler
@inject PythonValidationService PythonValidator
@inject WebNuGetPackageService PackageService
@inject EditorFileStorageService FileStorage
@inject ILogger<JobDetailsDialog> _logger

@if (IsLoading)
{
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Style="height: 200px; min-width: 800px;">
        <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        <RadzenText TextStyle="TextStyle.Body1">Loading job details...</RadzenText>
    </RadzenStack>
}
else if (Job == null)
{
    <RadzenStack Style="min-width: 400px;">
        <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Lighter">
            Job not found.
        </RadzenAlert>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Style="margin-top: 1rem;">
            <RadzenButton Text="Close" ButtonStyle="ButtonStyle.Light" Click="@OnCloseClick" />
        </RadzenStack>
    </RadzenStack>
}
else
{
    <RadzenStack Gap="1rem" Style="min-width: 850px;">
        <RadzenTabs @bind-SelectedIndex="@SelectedTabIndex" Style="width: 100%;" Change="@OnTabChanged">
            <Tabs>
                <RadzenTabsItem Text="Details" Icon="info">
                    @* Details Tab Content *@
                    <RadzenStack Gap="1rem" Style="padding: 1rem 0;">
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
                            <RadzenButton Text="@(IsRunningJob ? "Running..." : "Run Job Now")" Icon="play_arrow" ButtonStyle="ButtonStyle.Primary" 
                                          Size="ButtonSize.Small" Click="@RunJobNow" Disabled="@IsRunningJob" />
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                                <RadzenLabel Text="Enabled" Component="Enabled" Style="font-weight: 500;" />
                                <RadzenCheckBox @bind-Value="@Job.JobEnabled" Name="Enabled" />
                            </RadzenStack>
                        </RadzenStack>

                        <RadzenStack Gap="1rem">
                            <RadzenStack Gap="0.5rem" Style="max-width: 400px;">
                                <RadzenLabel Text="Base Job Name" Component="JobName" Style="font-weight: 500;" />
                                <RadzenTextBox @bind-Value="@Job.JobName" Name="JobName" Style="width: 100%;" />
                            </RadzenStack>

                            <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" Wrap="FlexWrap.Wrap">
                                <RadzenStack Gap="0.5rem" Style="flex: 1; min-width: 180px;">
                                    <RadzenLabel Text="Environment" Component="Environment" Style="font-weight: 500;" />
                                    <RadzenDropDown @bind-Value="@Job.JobEnvironment" Data="@Environments" 
                                                    Name="Environment" Style="width: 100%;" />
                                </RadzenStack>

                                <RadzenStack Gap="0.5rem" Style="flex: 1; min-width: 180px;">
                                    <RadzenLabel Text="Job Group" Component="JobGroup" Style="font-weight: 500;" />
                                    <RadzenDropDown @bind-Value="@selectedJobGroupId" Data="@AvailableJobGroups" 
                                                    TextProperty="JobGroupName" ValueProperty="Id"
                                                    AllowClear="true" Placeholder="Select a job group..."
                                                    Name="JobGroup" Style="width: 100%;" />
                                </RadzenStack>

                                <RadzenStack Gap="0.5rem" Style="flex: 1; min-width: 180px;">
                                    <RadzenLabel Text="Job Queue" Component="JobQueue" Style="font-weight: 500;" />
                                    <RadzenDropDown @bind-Value="@Job.JobQueue" Data="@AvailableJobQueues" 
                                                    TextProperty="QueueName" ValueProperty="Id"
                                                    AllowClear="true" Placeholder="Select ..."
                                                    Name="JobQueue" Style="width: 100%;" />
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenTabsItem>

                <RadzenTabsItem Text="Schedule" Icon="schedule">
                    @* Schedule Tab Content *@
                    <RadzenStack Gap="1rem" Style="padding: 1rem 0;">
                        <RadzenButton Text="Add New Job Schedule" Icon="add" ButtonStyle="ButtonStyle.Success" 
                                      Size="ButtonSize.Small" Click="@OpenAddScheduleDialog" Style="align-self: flex-start;" />

                        <RadzenDataGrid @ref="ScheduleGrid" Data="@Schedules" TItem="JobSchedule" 
                                        AllowPaging="true" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Center"
                                        AllowSorting="true" AllowColumnResize="true" Style="height: auto;" Density="Density.Compact">
                            <Columns>
                                <RadzenDataGridColumn TItem="JobSchedule" Width="60px" Title="">
                                    <Template Context="schedule">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.ExtraSmall"
                                                      Click="@(() => OpenEditScheduleDialog(schedule))" />
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="JobSchedule" Property="ScheduleName" Title="Schedule Name" />
                                <RadzenDataGridColumn TItem="JobSchedule" Property="Enabled" Title="Enabled" Width="100px">
                                    <Template Context="schedule">
                                        <RadzenCheckBox Value="@schedule.Enabled" Disabled="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="JobSchedule" Title="Run Every Hour" Width="200px">
                                    <Template Context="schedule">
                                        <RadzenText>@(schedule.RunEveryHour == null ? "True" : "False")</RadzenText>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="JobSchedule" Property="InProcess" Title="In Process" Width="150px">
                                    <Template Context="schedule">
                                        <RadzenCheckBox Value="@schedule.InProcess" Disabled="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenTabsItem>

                <RadzenTabsItem Text="Parameters" Icon="tune">
                    @* Parameters Tab Content *@
                    <RadzenStack Gap="1rem" Style="padding: 1rem 0;">
                        <RadzenButton Text="Add New Job Parameter" Icon="add" ButtonStyle="ButtonStyle.Success" 
                                      Size="ButtonSize.Small" Click="@OpenAddParameterDialog" Style="align-self: flex-start;" />

                        <RadzenDataGrid @ref="ParameterGrid" Data="@Parameters" TItem="JobDatum" 
                                        AllowPaging="true" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Center"
                                        AllowSorting="true" AllowColumnResize="true" Style="height: auto;" Density="Density.Compact">
                            <Columns>
                                <RadzenDataGridColumn TItem="JobDatum" Width="80px" Title="">
                                    <Template Context="param">
                                        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
                                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.ExtraSmall"
                                                          Click="@(() => OpenEditParameterDialog(param))" />
                                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.ExtraSmall"
                                                          Variant="Variant.Outlined" Click="@(() => DeleteParameter(param.Id))" />
                                        </RadzenStack>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="JobDatum" Property="JobFieldDescription" Title="Field Description" />
                                <RadzenDataGridColumn TItem="JobDatum" Property="JobStringValue" Title="String Value" />
                                <RadzenDataGridColumn TItem="JobDatum" Property="JobIntValue" Title="Int Value" Width="80px" />
                                <RadzenDataGridColumn TItem="JobDatum" Property="JobDateValue" Title="Date Value" Width="120px">
                                    <Template Context="param">
                                        @TimeDisplayService.FormatDateTime(param.JobDateValue)
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenTabsItem>

                <RadzenTabsItem Text="Logs" Icon="list_alt">
                    @* Logs Tab Content *@
                    <RadzenStack Gap="1rem" Style="padding: 1rem 0;">
                        <RadzenButton Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Secondary" 
                                      Size="ButtonSize.Small" Click="@RefreshLogs" Style="align-self: flex-end;" />
                        <RadzenDataGrid @ref="LogsGrid" Data="@Logs" TItem="LogEntry" 
                                        AllowPaging="true" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center"
                                        AllowSorting="true" AllowColumnResize="true" Style="height: auto;" Density="Density.Compact">
                            <Columns>
                                <RadzenDataGridColumn TItem="LogEntry" Property="Level" Title="Level" Width="100px">
                                    <Template Context="log">
                                        <RadzenBadge BadgeStyle="@GetLogLevelStyle(log.Level)" Text="@log.Level" />
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="LogEntry" Property="CreatedDate" Title="Created Date" Width="150px">
                                    <Template Context="log">
                                        @TimeDisplayService.FormatDateTime(log.CreatedDate)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="LogEntry" Property="Message" Title="Message" />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenTabsItem>

                <RadzenTabsItem Text="Webhook" Icon="link">
                    @* Webhook Tab Content *@
                    <RadzenStack Gap="1rem" Style="padding: 1rem 0;">
                        <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" AlignItems="AlignItems.Center">
                            <RadzenLabel Text="Enable Webhook" Style="font-weight: 500;" />
                            <RadzenSwitch Value="@IsWebhookEnabled" Change="@OnWebhookToggle" />
                        </RadzenStack>

                        @if (IsWebhookEnabled && !string.IsNullOrEmpty(Job.WebhookGuid))
                        {
                            <RadzenStack Gap="0.5rem">
                                <RadzenText TextStyle="TextStyle.Subtitle2" Style="font-weight: 600;">Webhook URL</RadzenText>
                                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center">
                                    <RadzenTextBox Value="@WebhookUrl" ReadOnly="true" Style="width: 100%; font-family: monospace;" />
                                    <RadzenButton Icon="content_copy" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small"
                                                  Click="@CopyWebhookUrl" title="Copy to clipboard" />
                                </RadzenStack>
                                <RadzenText TextStyle="TextStyle.Caption" Style="color: #6b7280;">
                                    Use this URL to trigger the job from external systems. Query parameters will be passed to the job.
                                </RadzenText>
                            </RadzenStack>

                            <RadzenStack Gap="0.5rem">
                                <RadzenText TextStyle="TextStyle.Subtitle2" Style="font-weight: 600;">Example Usage</RadzenText>
                                <RadzenText TextStyle="TextStyle.Caption" Style="font-family: monospace; background: #f1f5f9; padding: 0.75rem; border-radius: 4px; white-space: pre-wrap;">
GET @WebhookUrl?webAPIParameter=value

POST @WebhookUrl
Content-Type: application/json
{"key": "value"}</RadzenText>
                            </RadzenStack>

                            <RadzenStack Gap="0.5rem">
                                <RadzenText TextStyle="TextStyle.Subtitle2" Style="font-weight: 600;">Webhook GUID</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2" Style="font-family: monospace; background: #f1f5f9; padding: 0.5rem; border-radius: 4px;">
                                    @Job.WebhookGuid
                                </RadzenText>
                            </RadzenStack>
                        }
                        else if (!IsWebhookEnabled)
                        {
                            <RadzenAlert AlertStyle="AlertStyle.Info" Shade="Shade.Lighter" AllowClose="false">
                                Enable the webhook to generate a unique URL for triggering this job from external systems.
                            </RadzenAlert>
                        }
                    </RadzenStack>
                </RadzenTabsItem>

                <RadzenTabsItem Text="Code" Icon="code">
                    @* Code Editor Tab Content *@
                    <RadzenStack Gap="1rem" Style="padding: 1rem 0; height: 500px;">
                        @* Toolbar *@
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" 
                                     JustifyContent="JustifyContent.SpaceBetween" Gap="1rem">
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                                @* Language Selection *@
                                <RadzenLabel Text="Language:" Style="font-weight: 500;" />
                                <RadzenDropDown @bind-Value="@codeLanguage" Data="@languageOptions"
                                                TextProperty="Name" ValueProperty="Value"
                                                Style="min-width: 120px;" Change="@OnLanguageChanged"
                                                Disabled="@(codeEditMode == CodeEditMode.Upload)" />
                                
                                @* Edit Mode Toggle *@
                                <RadzenLabel Text="Mode:" Style="font-weight: 500; margin-left: 1rem;" />
                                <RadzenSelectBar @bind-Value="@codeEditMode" TValue="CodeEditMode" Size="ButtonSize.Small"
                                                 Change="@OnEditModeChanged">
                                    <Items>
                                        <RadzenSelectBarItem Text="Editor" Value="CodeEditMode.Editor" />
                                        <RadzenSelectBarItem Text="Upload" Value="CodeEditMode.Upload" />
                                    </Items>
                                </RadzenSelectBar>
                                
                                @* File Selector (when in Editor mode) *@
                                @if (codeEditMode == CodeEditMode.Editor)
                                {
                                    <RadzenDropDown @bind-Value="@selectedCodeFile" Data="@codeFileList"
                                                    Style="min-width: 180px; margin-left: 1rem;"
                                                    Change="@OnCodeFileChanged" AllowClear="false" />
                                }
                            </RadzenStack>
                            
                            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem">
                                @if (codeEditMode == CodeEditMode.Editor)
                                {
                                    <RadzenButton Text="Save & Compile" Icon="save" ButtonStyle="ButtonStyle.Primary" 
                                                  Size="ButtonSize.Small" Click="@SaveAndCompileCode" 
                                                  IsBusy="@isCompilingCode" />
                                    <RadzenButton Text="Run Job Now" Icon="play_arrow" ButtonStyle="ButtonStyle.Success" 
                                                  Size="ButtonSize.Small" Click="@RunJobWithCode" 
                                                  IsBusy="@isRunningJobWithCode" />
                                }
                            </RadzenStack>
                        </RadzenStack>

                        @* Editor or Upload Section *@
                        @if (isExtractingPackageFiles)
                        {
                            @* Loading overlay while extracting package files *@
                            <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" 
                                          Gap="1.5rem" Style="flex-grow: 1; border: 1px solid #e8e8e8; border-radius: 8px; background: #f8f9fa;">
                                <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large" />
                                <RadzenText TextStyle="TextStyle.Body1" Style="text-align: center;">
                                    Extracting package files...
                                </RadzenText>
                            </RadzenStack>
                        }
                        else if (codeEditMode == CodeEditMode.Editor)
                        {
                            @* Code Editor Area *@
                            <div style="flex-grow: 1; border: 1px solid #e8e8e8; border-radius: 8px; overflow: hidden;">
                                <CodeEditor @ref="jobCodeEditor"
                                            Language="@GetMonacoLanguageForJob()"
                                            Code="@currentJobCode"
                                            Height="100%"
                                            Width="100%"
                                            Border="0"
                                            Margin="0" />
                            </div>
                        }
                        else
                        {
                            @* File Upload Section *@
                            <RadzenStack Gap="1rem" Style="padding: 1rem; background: #f8f9fa; border-radius: 8px; flex-grow: 1;">
                                <RadzenStack Gap="0.5rem">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" Style="font-weight: 600;">
                                        Current Code Package
                                    </RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body2" 
                                                Style="font-family: monospace; background: #ffffff; padding: 0.5rem; border-radius: 4px;">
                                        @(string.IsNullOrEmpty(Job.JobCodeFile) ? "No code file uploaded" : Job.JobCodeFile)
                                    </RadzenText>
                                </RadzenStack>

                                <RadzenStack Gap="0.5rem">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" Style="font-weight: 600;">
                                        Upload NuGet Package (.nupkg)
                                    </RadzenText>
                                    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center">
                                        <InputFile OnChange="@OnFileSelected" accept=".nupkg,.zip" Disabled="@IsUploading" />
                                        @if (IsUploading)
                                        {
                                            <RadzenProgressBarCircular ShowValue="false" 
                                                                       Mode="ProgressBarMode.Indeterminate" 
                                                                       Size="ProgressBarCircularSize.Small" />
                                            <RadzenText TextStyle="TextStyle.Body2">Uploading...</RadzenText>
                                        }
                                    </RadzenStack>
                                </RadzenStack>
                            </RadzenStack>
                        }

                        @* AppSettings Editor Info (visible when editing JSON files) *@
                        @if (codeEditMode == CodeEditMode.Editor && selectedCodeFile?.EndsWith(".json") == true)
                        {
                            <RadzenAlert AlertStyle="AlertStyle.Info" Shade="Shade.Lighter" AllowClose="false" Size="AlertSize.Small">
                                Edit the appsettings file to configure your job's runtime settings.
                            </RadzenAlert>
                        }
                    </RadzenStack>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>

        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" Style="margin-top: 0.5rem;">
            <RadzenButton Text="Delete Job" Icon="delete" ButtonStyle="ButtonStyle.Danger" 
                          Variant="Variant.Outlined" Size="ButtonSize.Small" Click="@DeleteJob" />
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem">
                <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Light" Click="@OnCloseClick" />
                <RadzenButton Text="Save" Icon="save" ButtonStyle="ButtonStyle.Success" Click="@SaveJob" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
}

@code {
    [Parameter]
    public int JobId { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback OnJobDeleted { get; set; }

    [Parameter]
    public EventCallback OnJobSaved { get; set; }

    private Job? Job { get; set; }
    private List<JobSchedule> Schedules { get; set; } = new();
    private List<JobDatum> Parameters { get; set; } = new();
    private List<LogEntry> Logs { get; set; } = new();
    private List<string> Environments { get; set; } = new();
    
    // Job Groups
    private List<JobGroup> AvailableJobGroups { get; set; } = new();
    private int? selectedJobGroupId = null;

    // Job Queues
    private List<JobQueue> AvailableJobQueues { get; set; } = new();

    private bool IsLoading { get; set; } = true;
    private bool IsUploading { get; set; } = false;
    private bool IsRunningJob { get; set; } = false;
    private int SelectedTabIndex { get; set; } = 0;
    private int previousTabIndex = 0;
    private bool hasInitializedCodeTab = false;

    // Code Editor State
    private CodeEditor? jobCodeEditor;
    private string currentJobCode = "";
    private string codeLanguage = "csharp";
    private CodeEditMode codeEditMode = CodeEditMode.Upload; // Start in Upload mode by default
    private string? selectedCodeFile;
    private List<string> codeFileList = new List<string> { "main.cs", "appsettings.json", "appsettings.Production.json" };
    private bool isCompilingCode = false;
    private bool isRunningJobWithCode = false;
    private bool codeEditorInitialized = false;
    
    // Extended Code Editor State for package file extraction
    private JobCodeModel? loadedCodeModel;
    private bool hasLoadedPackageFiles = false;
    private string? previousSelectedFile;
    private bool isExtractingPackageFiles = false;

    private List<LanguageOption> languageOptions = new List<LanguageOption>
    {
        new LanguageOption { Name = "C#", Value = "csharp" },
        new LanguageOption { Name = "Python", Value = "python" }
    };

    public enum CodeEditMode
    {
        Editor,
        Upload
    }

    public class LanguageOption
    {
        public string Name { get; set; } = "";
        public string Value { get; set; } = "";
    }
    private IBrowserFile? SelectedFile { get; set; }

    private RadzenDataGrid<JobSchedule>? ScheduleGrid;
    private RadzenDataGrid<JobDatum>? ParameterGrid;
    private RadzenDataGrid<LogEntry>? LogsGrid;

    // Webhook properties
    private bool IsWebhookEnabled => !string.IsNullOrEmpty(Job?.WebhookGuid);
    private string WebhookUrl => $"{NavigationManager.BaseUri}webhook/{Job?.WebhookGuid}";

    protected override async Task OnInitializedAsync()
    {
        await LoadJobData();
    }

    private async Task LoadJobData()
    {
        IsLoading = true;
        StateHasChanged();

        try
        {
            Environments = JobService.GetEnvironments();
            Job = await JobService.GetJobByIdAsync(JobId);
            
            // Load available job groups
            AvailableJobGroups = await JobGroupService.GetActiveJobGroupsAsync();
            
            // Load available job queues
            AvailableJobQueues = await JobQueueService.GetActiveJobQueuesAsync();
            
            if (Job != null)
            {
                Schedules = await JobService.GetJobSchedulesAsync(JobId);
                Parameters = await JobService.GetJobParametersAsync(JobId);
                await LoadLogs();
                
                // Load current job group assignment (single group)
                var currentGroups = await JobGroupService.GetJobGroupsForJobAsync(JobId);
                selectedJobGroupId = currentGroups.FirstOrDefault()?.Id;
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to load job: {ex.Message}");
        }
        finally
        {
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task LoadLogs()
    {
        var allLogs = new List<LogEntry>();
        
        // Load job instances as log entries
        var instances = await JobService.GetJobInstancesAsync(JobId);
        var instanceLogs = instances.Select(i => new LogEntry
        {
            Id = i.Id,
            JobInstanceId = i.Id,
            Level = i.HasError ? "Error" : (i.InProcess ? "Info" : "Success"),
            CreatedDate = i.CreatedDate,
            Message = $"Job instance {i.Id} - Agent: {i.AgentId ?? "N/A"}",
            Source = "Instance"
        });
        allLogs.AddRange(instanceLogs);
        
        // Also load logs from Azure Table Storage (JobLogs table)
        try
        {
            var azureLogs = await JobManager.GetAllLogsForJobAsync(JobId);
            var tableLogEntries = azureLogs.Select(l => new LogEntry
            {
                Id = 0, // Azure table logs don't have an Id in the same sense
                JobInstanceId = l.JobInstanceId,
                Level = l.Level ?? "Info",
                CreatedDate = l.Timestamp,
                Message = $"[{l.Action}] {l.Details}",
                Source = "AzureTable"
            });
            allLogs.AddRange(tableLogEntries);
        }
        catch
        {
            // If Azure Table logs fail, still show instance logs
        }
        
        // Sort all logs by date descending
        Logs = allLogs.OrderByDescending(l => l.CreatedDate).ToList();
    }

    private async Task RefreshLogs()
    {
        await LoadLogs();
        StateHasChanged();
    }

    private async Task SaveJob()
    {
        if (Job == null) return;

        try
        {
            await JobService.UpdateJobAsync(Job);
            
            // Update job group assignment
            var groupIds = selectedJobGroupId.HasValue 
                ? new[] { selectedJobGroupId.Value } 
                : Array.Empty<int>();
            await JobGroupService.UpdateJobGroupAssignmentsAsync(JobId, groupIds);
            
            NotificationService.Notify(NotificationSeverity.Success, "Success", "Job saved successfully.");
            await OnJobSaved.InvokeAsync();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to save job: {ex.Message}");
        }
    }

    private async Task DeleteJob()
    {
        var confirmed = await DialogService.Confirm(
            "Are you sure you want to delete this job? This action cannot be undone.",
            "Confirm Delete",
            new ConfirmOptions { OkButtonText = "Delete", CancelButtonText = "Cancel" });

        if (confirmed == true)
        {
            try
            {
                await JobService.DeleteJobAsync(JobId);
                NotificationService.Notify(NotificationSeverity.Success, "Success", "Job deleted successfully.");
                await OnJobDeleted.InvokeAsync();
            }
            catch (Exception ex)
            {
                NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to delete job: {ex.Message}");
            }
        }
    }

    private async Task OnCloseClick()
    {
        await OnClose.InvokeAsync();
    }

    private async Task OpenAddScheduleDialog()
    {
        var newSchedule = new JobSchedule
        {
            JobId = JobId,
            Enabled = true,
            Monday = true,
            Tuesday = true,
            Wednesday = true,
            Thursday = true,
            Friday = true
        };

        await OpenScheduleDialog(newSchedule, "Add New Job Schedule");
    }

    private async Task OpenEditScheduleDialog(JobSchedule schedule)
    {
        await OpenScheduleDialog(schedule, $"Edit Job Schedule - {schedule.ScheduleName}");
    }

    private async Task OpenScheduleDialog(JobSchedule schedule, string title)
    {
        var result = await DialogService.OpenAsync<EditJobScheduleDialog>(title,
            new Dictionary<string, object>
            {
                { "Schedule", schedule },
                { "OnScheduleSaved", EventCallback.Factory.Create<JobSchedule>(this, OnScheduleSaved) },
                { "OnScheduleDeleted", EventCallback.Factory.Create<int>(this, OnScheduleDeleted) },
                { "OnCancel", EventCallback.Factory.Create(this, () => DialogService.Close()) }
            },
            new DialogOptions { Width = "700px", CloseDialogOnEsc = true });
    }

    private async Task OnScheduleSaved(JobSchedule schedule)
    {
        try
        {
            if (schedule.Id == 0)
            {
                await JobService.CreateJobScheduleAsync(schedule);
                NotificationService.Notify(NotificationSeverity.Success, "Success", "Schedule created successfully.");
            }
            else
            {
                await JobService.UpdateJobScheduleAsync(schedule);
                NotificationService.Notify(NotificationSeverity.Success, "Success", "Schedule updated successfully.");
            }

            DialogService.Close();
            Schedules = await JobService.GetJobSchedulesAsync(JobId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to save schedule: {ex.Message}");
        }
    }

    private async Task OnScheduleDeleted(int scheduleId)
    {
        try
        {
            await JobService.DeleteJobScheduleAsync(scheduleId);
            NotificationService.Notify(NotificationSeverity.Success, "Success", "Schedule deleted successfully.");
            DialogService.Close();
            Schedules = await JobService.GetJobSchedulesAsync(JobId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to delete schedule: {ex.Message}");
        }
    }

    private async Task OpenAddParameterDialog()
    {
        var newParameter = new JobDatum { JobId = JobId };
        await OpenParameterDialog(newParameter, "Add New Parameter");
    }

    private async Task OpenEditParameterDialog(JobDatum parameter)
    {
        await OpenParameterDialog(parameter, $"Edit Parameter - {parameter.JobFieldDescription}");
    }

    private async Task OpenParameterDialog(JobDatum parameter, string title)
    {
        var result = await DialogService.OpenAsync<AddParameterDialog>(title,
            new Dictionary<string, object>
            {
                { "Parameter", parameter },
                { "OnParameterSaved", EventCallback.Factory.Create<JobDatum>(this, OnParameterSaved) },
                { "OnCancel", EventCallback.Factory.Create(this, () => DialogService.Close()) }
            },
            new DialogOptions { Width = "550px", CloseDialogOnEsc = true });
    }

    private async Task OnParameterSaved(JobDatum parameter)
    {
        try
        {
            if (parameter.Id == 0)
            {
                await JobService.CreateJobParameterAsync(parameter);
                NotificationService.Notify(NotificationSeverity.Success, "Success", "Parameter created successfully.");
            }
            else
            {
                await JobService.UpdateJobParameterAsync(parameter);
                NotificationService.Notify(NotificationSeverity.Success, "Success", "Parameter updated successfully.");
            }

            DialogService.Close();
            Parameters = await JobService.GetJobParametersAsync(JobId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to save parameter: {ex.Message}");
        }
    }

    private async Task DeleteParameter(int parameterId)
    {
        var confirmed = await DialogService.Confirm(
            "Are you sure you want to delete this parameter?",
            "Confirm Delete",
            new ConfirmOptions { OkButtonText = "Delete", CancelButtonText = "Cancel" });

        if (confirmed == true)
        {
            try
            {
                await JobService.DeleteJobParameterAsync(parameterId);
                NotificationService.Notify(NotificationSeverity.Success, "Success", "Parameter deleted successfully.");
                Parameters = await JobService.GetJobParametersAsync(JobId);
                StateHasChanged();
            }
            catch (Exception ex)
            {
                NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to delete parameter: {ex.Message}");
            }
        }
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        SelectedFile = e.File;
        if (SelectedFile != null)
        {
            await UploadCodeFile();
        }
    }

    private async Task UploadCodeFile()
    {
        if (SelectedFile == null || Job == null) return;

        IsUploading = true;
        StateHasChanged();

        try
        {
            // Read file stream and upload to Azure Blob Storage via JobManager
            using var stream = SelectedFile.OpenReadStream(maxAllowedSize: 100 * 1024 * 1024); // 100MB max
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);
            memoryStream.Position = 0;

            // Upload package using JobManager - this updates Job.JobCodeFile automatically
            var blobName = await JobManager.UploadJobPackageAsync(JobId, memoryStream, SelectedFile.Name);
            
            // Update local job object with the new blob name
            Job.JobCodeFile = blobName;
            
            NotificationService.Notify(NotificationSeverity.Success, "Success", "Code file uploaded successfully.");
            SelectedFile = null;
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to upload file: {ex.Message}");
        }
        finally
        {
            IsUploading = false;
            StateHasChanged();
        }
    }

    private async Task RunJobNow()
    {
        if (Job == null) return;

        // Check if job has a code file uploaded
        if (string.IsNullOrEmpty(Job.JobCodeFile))
        {
            NotificationService.Notify(NotificationSeverity.Warning, "Warning", "Please upload a NuGet package before running the job.");
            return;
        }

        IsRunningJob = true;
        StateHasChanged();

        try
        {
            // Create JobInstance and send to queue via JobManager
            var jobInstanceId = await JobManager.RunJobNowAsync(JobId);
            
            NotificationService.Notify(NotificationSeverity.Success, "Job Queued", 
                $"Job has been queued for execution. Instance ID: {jobInstanceId}");
            
            // Refresh logs to show the new instance
            await LoadLogs();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to run job: {ex.Message}");
        }
        finally
        {
            IsRunningJob = false;
            StateHasChanged();
        }
    }

    private BadgeStyle GetLogLevelStyle(string level)
    {
        return level switch
        {
            "Error" => BadgeStyle.Danger,
            "Warning" => BadgeStyle.Warning,
            "Info" => BadgeStyle.Info,
            "Success" => BadgeStyle.Success,
            _ => BadgeStyle.Light
        };
    }

    private class LogEntry
    {
        public int Id { get; set; }
        public int JobInstanceId { get; set; }
        public string Level { get; set; } = string.Empty;
        public DateTime CreatedDate { get; set; }
        public string Message { get; set; } = string.Empty;
        public string Source { get; set; } = string.Empty; // "Instance" or "AzureTable"
    }

    // Webhook methods
    private async Task OnWebhookToggle(bool enabled)
    {
        if (Job == null) return;

        if (enabled)
        {
            // Enable webhook - generate new GUID
            try
            {
                var guid = await WebhookService.EnableWebhookAsync(Job.Id);
                Job.WebhookGuid = guid;
                NotificationService.Notify(NotificationSeverity.Success, "Webhook Enabled", 
                    "A new webhook URL has been generated.");
                StateHasChanged();
            }
            catch (Exception ex)
            {
                NotificationService.Notify(NotificationSeverity.Error, "Error", 
                    $"Failed to enable webhook: {ex.Message}");
            }
        }
        else
        {
            // Disable webhook - show confirmation if GUID exists
            if (!string.IsNullOrEmpty(Job.WebhookGuid))
            {
                var confirmed = await DialogService.Confirm(
                    "Are you sure you want to disable the webhook? The unique GUID will be deleted and any integrations using this webhook URL will stop working.",
                    "Disable Webhook",
                    new ConfirmOptions 
                    { 
                        OkButtonText = "Disable", 
                        CancelButtonText = "Cancel" 
                    });

                if (confirmed == true)
                {
                    try
                    {
                        await WebhookService.DisableWebhookAsync(Job.Id);
                        Job.WebhookGuid = null;
                        NotificationService.Notify(NotificationSeverity.Warning, "Webhook Disabled", 
                            "The webhook has been disabled and the GUID has been deleted.");
                        StateHasChanged();
                    }
                    catch (Exception ex)
                    {
                        NotificationService.Notify(NotificationSeverity.Error, "Error", 
                            $"Failed to disable webhook: {ex.Message}");
                    }
                }
            }
        }
    }

    private async Task CopyWebhookUrl()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", WebhookUrl);
            NotificationService.Notify(NotificationSeverity.Info, "Copied", "Webhook URL copied to clipboard.");
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to copy: {ex.Message}");
        }
    }

    // Code Editor Methods
    private async Task OnLanguageChanged()
    {
        // Reset loaded state when language changes
        hasLoadedPackageFiles = false;
        loadedCodeModel = null;
        
        // Set default file list based on language
        if (codeLanguage == "csharp")
        {
            codeFileList = new List<string> { "main.cs", "appsettings.json", "appsettings.Production.json" };
        }
        else if (codeLanguage == "python")
        {
            codeFileList = new List<string> { "main.py", "appsettings.json", "appsettings.Production.json" };
        }
        
        selectedCodeFile = codeFileList.FirstOrDefault();
        
        // If we have a package, reload files for the new language
        if (Job != null && !string.IsNullOrEmpty(Job.JobCodeFile))
        {
            await LoadPackageFilesAsync();
        }
        else
        {
            // Load default template for new language
            currentJobCode = CodeEditorService.GetDefaultTemplate(codeLanguage);
            if (!string.IsNullOrEmpty(selectedCodeFile))
            {
                FileStorage.SetFile(JobId, selectedCodeFile, currentJobCode);
            }
        }
        
        // Update editor state
        FileStorage.SetEditorState(JobId, new EditorState 
        { 
            Language = codeLanguage, 
            SelectedFile = selectedCodeFile 
        });
        
        if (jobCodeEditor != null)
        {
            await jobCodeEditor.UpdateCodeAsync(currentJobCode);
            await jobCodeEditor.UpdateLanguageAsync(GetMonacoLanguageForJob());
        }
        
        StateHasChanged();
    }

    private async Task OnCodeFileChanged()
    {
        if (string.IsNullOrEmpty(selectedCodeFile)) return;
        
        // Save current code before switching
        if (jobCodeEditor != null && !string.IsNullOrEmpty(previousSelectedFile))
        {
            var code = await jobCodeEditor.GetCodeAsync();
            
            // Save to loadedCodeModel if available
            if (loadedCodeModel != null)
            {
                CodeEditorService.SetFileContent(loadedCodeModel, previousSelectedFile, code);
            }
            
            // Also save to file storage
            FileStorage.SetFile(JobId, previousSelectedFile, code);
        }
        
        // Load new file content
        string fileContent;
        
        if (loadedCodeModel != null)
        {
            // Get content from the loaded code model
            fileContent = CodeEditorService.GetFileContent(loadedCodeModel, selectedCodeFile);
        }
        else
        {
            // Try to get from file storage
            fileContent = FileStorage.GetFile(JobId, selectedCodeFile) ?? "";
        }
        
        if (string.IsNullOrEmpty(fileContent))
        {
            // Generate default content based on file type
            fileContent = GetDefaultContentForFile(selectedCodeFile);
            
            // Store the default content
            if (loadedCodeModel != null)
            {
                CodeEditorService.SetFileContent(loadedCodeModel, selectedCodeFile, fileContent);
            }
            FileStorage.SetFile(JobId, selectedCodeFile, fileContent);
        }
        
        currentJobCode = fileContent;
        previousSelectedFile = selectedCodeFile;
        
        // Update editor state
        var state = FileStorage.GetEditorState(JobId) ?? new EditorState();
        state.SelectedFile = selectedCodeFile;
        FileStorage.SetEditorState(JobId, state);
        
        if (jobCodeEditor != null)
        {
            await jobCodeEditor.UpdateCodeAsync(currentJobCode);
            await jobCodeEditor.UpdateLanguageAsync(GetMonacoLanguageForJob());
        }
        
        StateHasChanged();
    }

    private string GetDefaultContentForFile(string fileName)
    {
        var lowerFileName = fileName.ToLowerInvariant();
        
        if (lowerFileName.EndsWith(".json"))
        {
            return CodeEditorService.GetDefaultAppSettings();
        }
        if (lowerFileName.EndsWith(".cs") || lowerFileName.EndsWith(".py"))
        {
            return CodeEditorService.GetDefaultTemplate(codeLanguage);
        }
        if (lowerFileName == "requirements.txt")
        {
            return "# Python dependencies\n# Add your pip packages here\n";
        }
        
        return "";
    }

    /// <summary>
    /// Handles tab change events. When Code tab is selected, always shows Upload mode by default.
    /// </summary>
    private async Task OnTabChanged(int newIndex)
    {
        const int CodeTabIndex = 5; // Code tab is the 6th tab (0-indexed)
        
        // Check if switching TO the Code tab
        if (newIndex == CodeTabIndex && !hasInitializedCodeTab)
        {
            hasInitializedCodeTab = true;
            
            // Always show Upload mode by default when first opening Code tab
            codeEditMode = CodeEditMode.Upload;
            StateHasChanged();
        }
        
        previousTabIndex = newIndex;
    }

    private async Task OnEditModeChanged()
    {
        if (codeEditMode == CodeEditMode.Editor)
        {
            // When switching to Editor mode, load package files if available
            await LoadPackageFilesAsync();
            
            // Initialize editor if needed
            if (!codeEditorInitialized && !string.IsNullOrEmpty(currentJobCode))
            {
                codeEditorInitialized = true;
                await Task.Delay(100); // Allow component to render
                if (jobCodeEditor != null)
                {
                    await jobCodeEditor.UpdateCodeAsync(currentJobCode);
                }
            }
        }
        StateHasChanged();
    }

    /// <summary>
    /// Loads all files from the job's NuGet package when entering Editor mode.
    /// Shows a loading indicator within the Code tab while loading.
    /// </summary>
    private async Task LoadPackageFilesAsync()
    {
        if (Job == null || string.IsNullOrEmpty(Job.JobCodeFile) || hasLoadedPackageFiles)
        {
            // No package to load, but still initialize if not done
            if (!codeEditorInitialized)
            {
                await InitializeCodeEditor();
            }
            return;
        }
        
        // Show loading state
        isExtractingPackageFiles = true;
        StateHasChanged();
        
        // Small delay to ensure UI updates
        await Task.Delay(50);
        
        try
        {
            // Download the package from blob storage
            var packageStream = await JobManager.DownloadJobPackageAsync(Job.Id);
            
            if (packageStream != null)
            {
                // Extract all files - pass a placeholder language, actual will come from config
                loadedCodeModel = await CodeEditorService.ExtractAllFilesFromPackageAsync(
                    packageStream, codeLanguage);
                
                // Update language from configuration.json (the ExtractAllFilesFromPackageAsync 
                // method reads the SelectedLanguage from configuration.json and sets it in the model)
                codeLanguage = loadedCodeModel.Language;
                
                // Log dependency info for debugging
                Console.WriteLine($"[LoadPackageFilesAsync] Loaded code model with {loadedCodeModel.Dependencies?.Count ?? 0} dependencies");
                if (loadedCodeModel.Dependencies?.Any() == true)
                {
                    foreach (var dep in loadedCodeModel.Dependencies)
                    {
                        Console.WriteLine($"  - {dep.PackageId} v{dep.Version}");
                    }
                }
                else
                {
                    Console.WriteLine($"[LoadPackageFilesAsync] No dependencies found. NuspecContent length: {loadedCodeModel.NuspecContent?.Length ?? 0}");
                }
                
                // Update the file dropdown list based on discovered language
                UpdateFileListForLanguage();
                
                // Update the file dropdown list
                if (loadedCodeModel.DiscoveredFiles.Any())
                {
                    codeFileList = loadedCodeModel.DiscoveredFiles;
                    selectedCodeFile = codeFileList.FirstOrDefault();
                    previousSelectedFile = selectedCodeFile;
                    
                    // Load the first file's content
                    if (selectedCodeFile != null)
                    {
                        currentJobCode = CodeEditorService.GetFileContent(loadedCodeModel, selectedCodeFile);
                    }
                }
                
                // Also initialize file storage from the code model
                FileStorage.InitializeFromCodeModel(JobId, loadedCodeModel);
                
                hasLoadedPackageFiles = true;
                codeEditorInitialized = true;
                
                _logger.LogInformation("Loaded {Count} files from package for job {JobId} with language {Language}", 
                    codeFileList.Count, Job.Id, codeLanguage);
            }
            else
            {
                // Package download failed, initialize with defaults
                await InitializeCodeEditor();
            }
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Failed to load package files for job {JobId}", Job?.Id);
            NotificationService.Notify(NotificationSeverity.Warning, "Warning", 
                "Could not load existing code package. Using default template.");
            await InitializeCodeEditor();
        }
        finally
        {
            // Hide loading state
            isExtractingPackageFiles = false;
            StateHasChanged();
        }
    }
    
    /// <summary>
    /// Updates the file list based on the current language setting.
    /// Includes .nuspec file in the list for C# when a package has been loaded.
    /// </summary>
    private void UpdateFileListForLanguage()
    {
        var mainFile = codeLanguage == "python" ? "main.py" : "main.cs";
        if (codeLanguage == "csharp")
        {
            var files = new List<string> { "main.cs", "appsettings.json", "appsettings.Production.json" };
            // Add .nuspec file if it was loaded from the package
            if (loadedCodeModel != null && !string.IsNullOrEmpty(loadedCodeModel.NuspecFileName))
            {
                files.Add(loadedCodeModel.NuspecFileName);
            }
            codeFileList = files;
        }
        else
        {
            codeFileList = new List<string> { "main.py", "appsettings.json", "appsettings.Production.json", "requirements.txt" };
        }
    }

    private string GetMonacoLanguageForJob()
    {
        return CodeEditorService.GetMonacoLanguageForFile(selectedCodeFile, codeLanguage);
    }

    private async Task InitializeCodeEditor()
    {
        if (Job == null || codeEditorInitialized) return;
        
        try
        {
            // Initialize with default template
            currentJobCode = CodeEditorService.GetDefaultTemplate(codeLanguage);
            
            // Set default file list based on language
            if (codeLanguage == "csharp")
            {
                codeFileList = new List<string> { "main.cs", "appsettings.json", "appsettings.Production.json" };
            }
            else
            {
                codeFileList = new List<string> { "main.py", "appsettings.json", "appsettings.Production.json" };
            }
            
            selectedCodeFile = codeFileList.FirstOrDefault();
            previousSelectedFile = selectedCodeFile;
            
            if (!string.IsNullOrEmpty(selectedCodeFile))
            {
                FileStorage.SetFile(JobId, selectedCodeFile, currentJobCode);
                FileStorage.SetFile(JobId, "appsettings.json", CodeEditorService.GetDefaultAppSettings());
                FileStorage.SetFile(JobId, "appsettings.Production.json", CodeEditorService.GetDefaultAppSettings());
            }
            
            codeEditorInitialized = true;
            
            // Update editor if already rendered
            if (jobCodeEditor != null)
            {
                await jobCodeEditor.UpdateCodeAsync(currentJobCode);
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Warning, "Warning", 
                $"Could not initialize code editor: {ex.Message}");
            currentJobCode = CodeEditorService.GetDefaultTemplate(codeLanguage);
            codeEditorInitialized = true;
        }
        
        StateHasChanged();
    }

    private async Task SaveAndCompileCode()
    {
        if (jobCodeEditor == null || Job == null) return;
        
        isCompilingCode = true;
        StateHasChanged();
        
        try
        {
            // Get current code from editor
            currentJobCode = await jobCodeEditor.GetCodeAsync();
            
            // Save current file to storage and loadedCodeModel
            if (!string.IsNullOrEmpty(selectedCodeFile))
            {
                FileStorage.SetFile(JobId, selectedCodeFile, currentJobCode);
                if (loadedCodeModel != null)
                {
                    CodeEditorService.SetFileContent(loadedCodeModel, selectedCodeFile, currentJobCode);
                }
            }
            
            // Get the main code file for compilation
            var mainFileName = codeLanguage == "csharp" ? "main.cs" : "main.py";
            var mainCode = FileStorage.GetFile(JobId, mainFileName) ?? currentJobCode;
            
            // Attempt compilation/validation
            CompilationResult compilationResult;
            if (codeLanguage == "csharp")
            {
                // Use dependency-aware compilation if dependencies are available
                if (loadedCodeModel?.Dependencies?.Any() == true)
                {
                    Console.WriteLine($"[SaveAndCompileCode] Found {loadedCodeModel.Dependencies.Count} dependencies to resolve:");
                    foreach (var dep in loadedCodeModel.Dependencies)
                    {
                        Console.WriteLine($"  - {dep.PackageId} v{dep.Version}");
                    }
                    compilationResult = await CSharpCompiler.CompileWithDependenciesAsync(
                        mainCode, loadedCodeModel.Dependencies);
                }
                else
                {
                    Console.WriteLine("[SaveAndCompileCode] No dependencies found in loadedCodeModel, using default references");
                    // Fall back to dependency-aware compilation without explicit deps
                    // (still loads standard references like EF Core, BlazorDataOrchestrator.Core)
                    compilationResult = await CSharpCompiler.CompileWithDependenciesAsync(mainCode);
                }
            }
            else
            {
                compilationResult = PythonValidator.Validate(mainCode);
            }
            
            if (!compilationResult.Success)
            {
                // Show compilation errors in popup dialog
                await ShowCompilationErrorsDialog(compilationResult.Errors);
                return;
            }
            
            // Compilation successful - create NuGet package and upload
            var codeModel = FileStorage.ToCodeModel(JobId);
            var blobName = await PackageService.CreateAndUploadPackageAsync(Job.Id, codeModel);
            
            // Update job record
            Job.JobCodeFile = blobName;
            
            // Mark that we've saved, so next load will get this version
            hasLoadedPackageFiles = false;
            
            NotificationService.Notify(NotificationSeverity.Success, "Success", 
                "Code compiled and saved successfully!");
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", 
                $"Failed to save code: {ex.Message}");
        }
        finally
        {
            isCompilingCode = false;
            StateHasChanged();
        }
    }

    private async Task ShowCompilationErrorsDialog(List<CompilationError> errors)
    {
        await DialogService.OpenAsync("Compilation Errors", ds =>
            @<RadzenStack Gap="1rem" Style="padding: 1rem;">
                <RadzenAlert AlertStyle="AlertStyle.Danger" AllowClose="false">
                    The code could not be compiled. Please fix the errors below before saving.
                </RadzenAlert>
                <div style="max-height: 300px; overflow-y: auto; background: #1e1e1e; color: #d4d4d4; 
                            padding: 1rem; border-radius: 8px; font-family: 'Consolas', monospace; font-size: 12px;">
                    @foreach (var error in errors)
                    {
                        <div style="margin-bottom: 0.5rem; border-left: 3px solid @(error.Severity == "Error" ? "#f44336" : "#ff9800"); padding-left: 0.5rem;">
                            <span style="color: #9cdcfe;">Line @error.Line, Col @error.Column:</span>
                            <span style="color: @(error.Severity == "Error" ? "#f44336" : "#ff9800");">[@error.Severity]</span>
                            <span>@error.Message</span>
                        </div>
                    }
                </div>
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                    <RadzenButton Text="Close" ButtonStyle="ButtonStyle.Light" Click="@(() => ds.Close())" />
                </RadzenStack>
            </RadzenStack>,
            new DialogOptions { Width = "600px", Height = "auto" }
        );
    }

    private async Task RunJobWithCode()
    {
        if (Job == null) return;
        
        isRunningJobWithCode = true;
        StateHasChanged();
        
        try
        {
            // If in editor mode, save and compile first
            if (codeEditMode == CodeEditMode.Editor && jobCodeEditor != null)
            {
                currentJobCode = await jobCodeEditor.GetCodeAsync();
                
                // Save current file to storage and loadedCodeModel
                if (!string.IsNullOrEmpty(selectedCodeFile))
                {
                    FileStorage.SetFile(JobId, selectedCodeFile, currentJobCode);
                    if (loadedCodeModel != null)
                    {
                        CodeEditorService.SetFileContent(loadedCodeModel, selectedCodeFile, currentJobCode);
                    }
                }
                
                // Get the main code file for compilation
                var mainFileName = codeLanguage == "csharp" ? "main.cs" : "main.py";
                var mainCode = FileStorage.GetFile(JobId, mainFileName) ?? currentJobCode;
                
                // Compile code with dependencies
                CompilationResult compilationResult;
                if (codeLanguage == "csharp")
                {
                    // Use dependency-aware compilation if dependencies are available
                    if (loadedCodeModel?.Dependencies?.Any() == true)
                    {
                        compilationResult = await CSharpCompiler.CompileWithDependenciesAsync(
                            mainCode, loadedCodeModel.Dependencies);
                    }
                    else
                    {
                        // Fall back to dependency-aware compilation without explicit deps
                        // (still loads standard references like EF Core, BlazorDataOrchestrator.Core)
                        compilationResult = await CSharpCompiler.CompileWithDependenciesAsync(mainCode);
                    }
                }
                else
                {
                    compilationResult = PythonValidator.Validate(mainCode);
                }
                
                if (!compilationResult.Success)
                {
                    await ShowCompilationErrorsDialog(compilationResult.Errors);
                    return;
                }
                
                // Create and upload NuGet package
                var codeModel = FileStorage.ToCodeModel(JobId);
                var blobName = await PackageService.CreateAndUploadPackageAsync(Job.Id, codeModel);
                
                Job.JobCodeFile = blobName;
            }
            else if (string.IsNullOrEmpty(Job.JobCodeFile))
            {
                NotificationService.Notify(NotificationSeverity.Warning, "Warning", 
                    "Please upload a NuGet package or write code before running the job.");
                return;
            }
            
            // Queue job for execution with Agent
            var jobInstanceId = await JobManager.RunJobNowAsync(Job.Id);
            
            NotificationService.Notify(NotificationSeverity.Success, "Job Queued", 
                $"Job has been queued for execution. Instance ID: {jobInstanceId}");
            
            // Switch to Logs tab and refresh
            SelectedTabIndex = 3; // Logs tab index
            await RefreshLogs();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", 
                $"Failed to run job: {ex.Message}");
        }
        finally
        {
            isRunningJobWithCode = false;
            StateHasChanged();
        }
    }
}
